*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 17px;
}

*::before,
*::after {
	box-sizing: border-box;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.435);
    margin: 15px 0;
}

.header{
    width: 100%;
    height: 100vh;
    background: #87ceeb;
    background: linear-gradient(180deg, rgba(135,206,235,1) 0%, rgba(255,255,255,1) 100%);
}

header .container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .intro{
    width: 100%;
    height: max-content;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-page a{
    font-size: 9rem;
    font-weight: 700;
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke: 2px #000;   
    text-decoration: none; 
}

.bx-paper-plane{
    font-size: 40px;
    display: none;
    color: #000d1091;
}

.header-buttons{
    gap: 170px;
    display: flex;
    justify-content: space-between;
}

.header-buttons ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.header-buttons ul li{
    font-size: 22px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    text-transform: capitalize;
}
.header-buttons ul:first-child li{
    padding-bottom: 5px;
}
.header-buttons ul:first-child li::before{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    right: -100%;
    transition: 0.3s;
}

.header-buttons ul:first-child li:hover::before{
    right: 0;
}

.header-buttons ul:last-child li{
    padding: 15px 18px;
    border-radius: 50%;
    background-color: #000d1091;
    transition: 0.3s;
}

.header-buttons ul:last-child li:hover{
    background-color: #000d10c8;
}

.header-buttons ul:last-child li i{
    font-size: 25px;
    color: rgb(176, 219, 237);
}

.full-menu{
    width: 75%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.3s;
    background-color: rgb(176, 219, 237);
    z-index: 111111111111;
}

.full-menu.show{
    left: 0;
}

.close-menu{
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    border: 0;
    background-color: transparent;
    font-size: 30px;
}

.backdrop{
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 50;
}

.backdrop.show{
    display: block;
}

.header-content{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content h4{
    font-size: 25px;
}

.header-content div{
    display: flex;
    gap: 15px;
}

.header-content div button{
    background-color: #000d10;
    border: 1px solid #000d10fb;
    padding: 10px 18px;
    font-size: 20px;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.3s;
}

.header-content div button a{
    color: #FFF;
    text-decoration: none;
}

.header-content div button:hover{
    background-color: #000d10c2;
}


.rotate-message{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 10000;
    background-color: #FFF;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.rotate-message div{
    text-align: center;
}

.rotate-message div i{
    border-radius: 50%;
    font-size: 45px;
    margin-bottom: 35px;
    color: #ff2800;
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0%{ box-shadow: #ff2800 0 0 0 0; transform: rotate(-360deg); }
    80%{box-shadow: #ff280000 0 0 0 20px;}
}

.rotate-message p{
    font-size: 20px;
}









